<a href="https://colab.research.google.com/github/sumareddy1995/info5731/blob/master/deshireddy_classwork2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Class work 2

In this class work, you will try to do **Exploratory Data Analysis** with Pandas.

## Data Preperation

Please run the following lines of codes, to get source data.

In [2]:
!wget https://github.com/wshuyi/info-5731-public/raw/master/winemag-data-130k-v2.csv.zip

--2019-02-19 21:09:52--  https://github.com/wshuyi/info-5731-public/raw/master/winemag-data-130k-v2.csv.zip
Resolving github.com (github.com)... 192.30.255.112, 192.30.255.113
Connecting to github.com (github.com)|192.30.255.112|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/wshuyi/info-5731-public/master/winemag-data-130k-v2.csv.zip [following]
--2019-02-19 21:09:57--  https://raw.githubusercontent.com/wshuyi/info-5731-public/master/winemag-data-130k-v2.csv.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 17180932 (16M) [application/zip]
Saving to: ‘winemag-data-130k-v2.csv.zip’

winemag-data-130k-v 100%[===================>]  16.38M  --.-KB/s    in 0.1s

2019-02-19 21:09:57 (150 MB/s) - ‘winemag-data-130k-v2.csv.zip’ saved [17180932/17180932]

In [3]:
!unzip winemag-data-130k-v2.csv.zip

Archive:  winemag-data-130k-v2.csv.zip
  inflating: winemag-data-130k-v2.csv

## Questions

5 points for each question, and full score is 100.

**Question 1.** The data file is stored in csv format and named "winemag-data-130k-v2.csv ". Please read it into a Pandas dataframe, and name the dataframe as "reviews". Make sure the first column should be "country", instead of a **"unnamed"** one. Display the first 5 rows.

In [6]:
import pandas as pd
reviews=pd.read_csv('winemag-data-130k-v2.csv')
reviews.drop(['Unnamed: 0'], axis=1)
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-21-51-880386.png"
from IPython.display import Image
Image(image_url)

**Question 2.** What is the data type of the `points` column in the dataset?

In [8]:
reviews.points.dtype

dtype('int64')

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-22-08-367025.png"
from IPython.display import Image
Image(image_url)

**Question 3.** Select the `description` column from `reviews` and assign the result to the variable `desc`. Show the first 5 rows of `desc`.

In [17]:
desc = reviews.description
desc.head()

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
Name: description, dtype: object

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-22-46-339216.png"
from IPython.display import Image
Image(image_url)

**Question 4.** what type of object is `desc`?

In [19]:
type(desc)

pandas.core.series.Series

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-22-58-641958.png"
from IPython.display import Image
Image(image_url)

**Question 5.** Select the first value from the description column of `reviews`, assigning it to variable `first_description`. Show the content of `first_description`.

In [20]:
first_description = desc[0]
first_description

"Aromas include tropical fruit, broom, brimstone and dried herb. The palate isn't overly expressive, offering unripened apple, citrus and dried sage alongside brisk acidity."

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-23-18-848390.png"
from IPython.display import Image
Image(image_url)

**Question 6.** Select the first row of data (the first record) from `reviews`, assigning it to the variable `first_row`. Show the content of `first_row`.

In [21]:
first_row = reviews.head(1)
first_row

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-23-29-081662.png"
from IPython.display import Image
Image(image_url)

**Question 7.** Select the first 10 values from the `description` column in `reviews`, assigning the result to variable `first_descriptions`. Show the content of `first_descriptions`. (Hint: format your output as a `pandas` `Series`.)

In [22]:
desc = reviews.description
first_descriptions = desc.head(10)
first_descriptions

0    Aromas include tropical fruit, broom, brimston...
1    This is ripe and fruity, a wine that is smooth...
2    Tart and snappy, the flavors of lime flesh and...
3    Pineapple rind, lemon pith and orange blossom ...
4    Much like the regular bottling from 2012, this...
5    Blackberry and raspberry aromas show a typical...
6    Here's a bright, informal red that opens with ...
7    This dry and restrained wine offers spice in p...
8    Savory dried thyme notes accent sunnier flavor...
9    This has great depth of flavor with its fresh ...
Name: description, dtype: object

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-23-54-273700.png"
from IPython.display import Image
Image(image_url)

**Question 8.** Select the records with index labels `1`, `2`, `4`, `5`, and `7`, assigning the result to the variable `sample_reviews`. Show first 5 rows of `sample_reviews`.

In [9]:
range1=[1,2,4,5,7]
for i in [range1]:
  sample_reviews=reviews.iloc[i]
sample_reviews

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem
7,7,France,This dry and restrained wine offers spice in p...,NaN,87,24.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Trimbach 2012 Gewurztraminer (Alsace),Gewürztraminer,Trimbach

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-24-11-414043.png"
from IPython.display import Image
Image(image_url)

**Question 9.** Create a variable df containing the country, province, region_1, and region_2 columns of the records with the index labels 0, 2, 20, and 200. Show the content of df.

In [10]:
colu1=['country','province','region_1','region_2']
df=reviews[colu1]
i=[0,2,20,200]
df.iloc[i]

    country           province                region_1           region_2
0     Italy  Sicily & Sardinia                    Etna                NaN
2        US             Oregon       Willamette Valley  Willamette Valley
20       US           Virginia                Virginia                NaN
200   Italy            Tuscany  Brunello di Montalcino                NaN

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-24-23-881864.png"
from IPython.display import Image
Image(image_url)

**Question 10.** Create a variable `df` containing the `country` and `variety` columns of the first 100 records. Show the shape of `df`.

In [12]:
col_keep=['country','variety']
df=reviews[col_keep]
df=df.head(100)
df.shape

(100, 2)

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-24-36-554850.png"
from IPython.display import Image
Image(image_url)

**Question 11.** Create a DataFrame `france_wines` containing reviews of wines made in `France`. Show the shape of `france_wines`.

In [14]:
france_wines=reviews[reviews.country=='France']
france_wines.shape

(22093, 14)

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-24-49-026089.png"
from IPython.display import Image
Image(image_url)

**Question 12.** Create a DataFrame `top_north_america_wines` containing all reviews with at least 95 points (out of 100) for wines from US or Canada. Show the shape of `top_north_america_wines`.

In [23]:
top_north_america_wines = reviews[(reviews.points>= 95) & ((reviews.country=='US') | (reviews.country == 'Canada') )]
top_north_america_wines.shape

(993, 14)

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-24-59-291835.png"
from IPython.display import Image
Image(image_url)

**Question 13.** What is the minimum value of the points column in the reviews DataFrame?

In [16]:
reviews['points'].min()

80

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-25-07-722360.png"
from IPython.display import Image
Image(image_url)

**Question 14.** What countries are represented in the dataset? (Your answer should not include any duplicates.)

In [18]:
reviews.country.unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-25-17-210421.png"
from IPython.display import Image
Image(image_url)

**Question 15.** How often does each country appear in the dataset? Create a Series `reviews_per_country` mapping countries to the count of reviews of wines from that country. Show the first 10 rows of `reviews_per_country`.

In [30]:
a=reviews.groupby('country').country.count()
reviews_per_country=a.sort_values(ascending=False)
reviews_per_country.head(10)

country
US           54504
France       22093
Italy        19540
Spain         6645
Portugal      5691
Chile         4472
Argentina     3800
Austria       3345
Australia     2329
Germany       2165
Name: country, dtype: int64

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-25-25-429171.png"
from IPython.display import Image
Image(image_url)

**Question 16.** Create variable `centered_price` containing a version of the `price` column with the mean price subtracted. Show the first 10 rows of `centered_price`.

In [26]:
mean1=reviews['price'].mean()
centered_price=reviews['price']-mean1
centered_price.head(10)

0          NaN
1   -20.363389
2   -21.363389
3   -22.363389
4    29.636611
5   -20.363389
6   -19.363389
7   -11.363389
8   -23.363389
9    -8.363389
Name: price, dtype: float64

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-25-34-260297.png"
from IPython.display import Image
Image(image_url)

**Question 17.** Create a variable `bargain_wine` with the title of the wine with the highest points-to-price ratio in the dataset. Show the value of `bargain_wine`.

In [25]:
reviews['points-to-price']= reviews['points']/reviews['price']
value=reviews['points-to-price'].idxmax()
bargain_wine= reviews.title[value]
bargain_wine

'Bandit NV Merlot (California)'

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-25-45-425172.png"
from IPython.display import Image
Image(image_url)

**Question 18.** Is a wine more likely to be "tropical" or "fruity"? Create a Series `descriptor_counts` counting how many times each of these two words appears in the description column in the dataset. Show the content of `descriptor_counts`.

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-25-56-543545.png"
from IPython.display import Image
Image(image_url)

**Question 19.** Sometimes the price column is null. How many reviews in the dataset are missing a price?

In [27]:
reviews.price.isnull().sum(axis=0)

8996

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-26-07-921120.png"
from IPython.display import Image
Image(image_url)

**Question 20.** What are the most common wine-producing regions? Create a `Series` counting the number of times each value occurs in the `region_1` field. This field is often missing data, so replace missing values with `Unknown`. Sort in descending order. Show the first 10 rows of the series.

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-26-19-518545.png"
from IPython.display import Image
Image(image_url)

**Question 21.** Who are the most common wine reviewers in the dataset? Create a `Series` whose index is the `taster_twitter_handle` category from the dataset, and whose values count how many reviews each person wrote. Show the series.

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-26-32-243770.png"
from IPython.display import Image
Image(image_url)

**Question 22.** What is the best wine I can buy for a given amount of money? Create a `Series` whose index is wine prices and whose values is the maximum number of points a wine costing that much was given in a review. Sort the values by price, Descending (so that `3300.0` dollars is at the top and `4.0` dollars is at the bottom). Show the first 5 rows of the series.

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-26-40-741397.png"
from IPython.display import Image
Image(image_url)

**Question 23.** What are the minimum, maximum and median prices for each `variety` of wine? Create a `DataFrame` whose index is the `variety` category from the dataset and whose values are the `min`, `max` and `medium` values thereof. Show the 5 rows of the dataframe.

In [29]:
reviews.groupby('variety').price.agg(['min','max','median']).head()

              min    max  median
variety
Abouriou     15.0   75.0    15.0
Agiorgitiko  10.0   66.0    20.0
Aglianico     6.0  180.0    33.5
Aidani       27.0   27.0    27.0
Airen         8.0   10.0     9.0

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-27-01-991324.png"
from IPython.display import Image
Image(image_url)

**Question 24.** What are the most expensive wine varieties? Create a variable `sorted_varieties` containing a copy of the dataframe from the previous question where varieties are sorted in descending order based on minimum price, then on maximum price (to break ties). Show the 5 rows of the dataframe.

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-27-12-370129.png"
from IPython.display import Image
Image(image_url)

**Question 25.** Create a Series whose index is reviewers and whose values is the average review score given out by that reviewer. Show the first 5 rows of the series (Hint: name of reviewer is in `taster_name`.)

In [28]:
reviews.groupby('taster_name').points.mean().head()

taster_name
Alexander Peartree    85.855422
Anna Lee C. Iijima    88.415629
Anne Krebiehl MW      90.562551
Carrie Dykes          86.395683
Christina Pickard     87.833333
Name: points, dtype: float64

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-27-35-752685.png"
from IPython.display import Image
Image(image_url)

**Question 26.** What combination of countries and varieties are most common? Create a `Series` whose index is a `MultiIndex`of `{country, variety}` pairs. For example, a pinot noir produced in the US should map to `{"US", "Pinot Noir"}`. Sort the values in the `Series` in descending order based on wine count. Show the first 10 rows of the series.

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-27-42-958620.png"
from IPython.display import Image
Image(image_url)

**Question 27.** `region_1` and `region_2` are pretty uninformative names for locale columns in the dataset. Create a copy of `reviews` with these columns renamed to `region` and `locale`, respectively. Show the first 5 rows of the renamed dataframe.

In [24]:
reviwes_copy=reviews.rename(columns={'region_1':'region','region_2':'locale'})
reviwes_copy.head()

,Unnamed: 0,country,description,designation,points,price,province,region,locale,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [0]:
# Expected Output:
image_url = "https://github.com/wshuyi/github_pub_img/raw/master/assets/2019-02-18-10-27-54-120816.png"
from IPython.display import Image
Image(image_url)