In [2]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [3]:
import random
for i in range(10):
    x = random.random()
    print(x)

0.08263612349575411
0.12228739835375724
0.24694654221357504
0.4472120819924632
0.781987537185514
0.21217750205790686
0.7655450197682199
0.8608388774468703
0.5952886559728293
0.6206525601865553

In [4]:
>>> random.randint(5, 10)

6

In [5]:
>>> t = [1, 2, 3]
>>> random.choice(t)

3

In [7]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d
t = ['a', 'a', 'b']
hist = histogram(t)
hist

{'a': 2, 'b': 1}

In [2]:
import string
def process_file(filename):
    hist = dict()
    fp = open(filename)
    for line in fp:
        process_line(line, hist)
    return hist
def process_line(line, hist):
    line = line.replace('-', ' ')
    for word in line.split():
        word = word.strip(string.punctuation + string.whitespace)
        word = word.lower()
        hist[word] = hist.get(word, 0) + 1
hist = process_file('emma.txt')

In [3]:
def total_words(hist):
    return sum(hist.values())
def different_words(hist):
    return len(hist)

print('Total number of words:', total_words(hist))
print('Number of different words:', different_words(hist))

Total number of words: 162742
Number of different words: 7460

In [4]:
def most_common(hist):
    t = []
    for key, value in hist.items():
        t.append((value, key))
        t.sort(reverse=True)
    return t

In [5]:
t = most_common(hist)
print('The most common words are:')
for freq, word in t[:10]:
    print(word, freq, sep='\t')

The most common words are:
to	5295
the	5266
and	4931
of	4339
i	3191
a	3155
it	2546
her	2483
was	2400
she	2364

In [6]:
hist = process_file('emma.txt')
def print_most_common(hist, num=10):
    t = most_common(hist)
    print('The most common words are:')
    for freq, word in t[:num]:
        print(word, freq, sep='\t')
print_most_common(hist)

The most common words are:
to	5295
the	5266
and	4931
of	4339
i	3191
a	3155
it	2546
her	2483
was	2400
she	2364

In [7]:
hist = process_file('emma.txt')
def print_most_common(hist, num=10):
    t = most_common(hist)
    print('The most common words are:')
    for freq, word in t[:num]:
        print(word, freq, sep='\t')
print_most_common(hist,20)

The most common words are:
to	5295
the	5266
and	4931
of	4339
i	3191
a	3155
it	2546
her	2483
was	2400
she	2364
in	2199
not	2161
you	2053
be	1987
he	1811
that	1809
had	1626
but	1446
as	1443
for	1371

In [9]:
def subtract(d1, d2):
    res = dict()
    for key in d1:
        if key not in d2:
            res[key] = None
    return res
words = process_file('words.txt')
diff = subtract(hist, words)
print("Words in the book that aren't in the word list:")
for word in diff:
    print(word,end=' ')

Words in the book that aren't in the word list:
gutenberg etext emma austen a etexts 1971 1994 158 18 2002 emma10.txt emma10.zip emma11.txt emma10a.txt xxxxx10x.xxx ftp etc 2 december 31 2001 10,000 x 100,000,000=trillion 10 gutenberg/ibc ibc illinois benedictine p o 2782 champaign il 61825 email michael s hart@vmd.cso.uiuc.edu internet hart@uiucvmd bitnet compuserve attmail mcimail  mrcnext.cso.uiuc.edu login your@login cd etext/etext91 etext92 etext93 etext/etext93 etext/articles dir mget index100.gut index200.gut new.gut newsletters start**the print!**for etexts**start what's tm 30 project's disclaimer 1 90 electronically merchantability disclaimers 3 hypertext ascii ebcdic 20 don't 60 ocr charles b kramer 72600.2026@compuserve.com tel 212 254 5093 end*the etexts*ver.04.29.93*end i woodhouse sister's remembrance taylor mr woodhouse's taylor's emma's unperceived weston unexceptionable morning's unreserve isabella's mrs valetudinarian london october november hartfield christmas isabella highbury woodhouses daughter's randalls james weston's hannah knightley connexions brunswick broadway mitchell's endeavour delicately endeavouring lady's one's elton chuse ii favourite churchill yorkshire connexion unsuitable brother's enscombe churchills mother's favourable portionless delightful uncle's father's deservedly hour's companionableness hindrance neighbours body's gentlemanlike perrys iii donwell unfrequently westons goddard quicksighted acquirements goddard's prosings harriet smith's unpolished betweens serle iv talkativeness exultation martin's alderneys son's shepherd's sunday nash richardson wakefield kingston 8th june 23rd day's gentleman's farmer's your's elizabeth harriet's robert uncouthness unmodulated knightley's elton's sufferable expediency fastidious v feelingly undesigned hazle vi bella mama's that's george apologised unfavourable honourable mantelpiece irksomeness encourager complaisance admirable incommoding incommoded vii i'd prepossession viii greatcoat girl's friend's gentlemen's slightingly chusing master's unreserved her's adversary's man's woman's clayton ix transcribing recollect ungallant destin'd transcribed moment's neptune eltons pre shakespeare michaelmas twelvemonth wink'd garrick's catherine grandmama 28th grandpapa grandpapas o'clock doubtingly smilingly charitable recollecting husband's undistinguishing unfastidious illiberal bates's knightleys fairfax stomacher child's experienced yesterday's cole's stilton wiltshire cellery surry wingfield ungracious fidgetiness unsullied disengaged henry's cobham weymouth f c xii aunt's unceremoniousness sauciness discordancies d'ye conversable unpersuadable discourse bella's embrocation wingfield's bateses neighbourhood graham's scotland campbell undoubting philippics rumination cromer law's langham xiii 24th tranquillised behaviour people's administered unpermitted se'nnight xiv solicitously substance january frank's braithwaites teazed man_'s xv two's stept tete unequalled unexampled inebriety xvi indiscreetly aggrandise gradations complaisant adventuring william coxe unmirthful amiableness xvii agreeably pointedly solemnity promptitude sympathise non xviii churchill's chuses manoeuvring behindhand aimable month's apartment beaufet apologise hetty ma'am fairfax's nobody's jane's friday saturday tuesday campbells ireland dixon dixon's dublin baly craig 7th holyhead monday lieut england campbell's novitiate successless recantation dixons suitableness grandmother's hawkins neighbour wonderings humouredly ford's haberdasher's buyings can't hawkins's christian augusta l rencontre green's brown's inseparably ceaseless waverings philip butcher's solitarily reanimation admirably proportionably treachery barnes companionably hyperbolical recollected men's york amor patriae hesitatingly outwardly blockhead housekeeper's butler's rationality instant's unpretending unexpensively persuadable person's unconcern dexterity unobjectionable cox's pianoforte broadwood's delightfully untouched february observable unconvinced unsentimental unsuspicious heroine's visitings outree irish improvidently unostentatious splendour unfeignedly italian anne baker's saunders mistress's wallis wallises larkins hodges deedily silversmith uninterruptedly broadwood instrument's cramer adair d commandingly scepticism endeavoured perry's ballroom's larkins's week's reprobating nephew's thing's stimulative soothings submissively composedly suckling's favourably king's selina doatingly e apartments outstepped jeffereys clara milmans e.'s caro sposo underbred unimpeded fragrance ing paradings patroness pressingly appellation controul grandmama's tongue's april bragge bragge's july honourably selina's southward constitutions clifton untowardly hymen's injustice wife's churchill'd tupman birmingham tupmans encumbrance influenced randall's richmond manchester sanguinely confidantes heartedness puppyism aladdin's here's complacently dr hughes where's richard otway caroline arthur complimented criticising goodnatured sweetbread asparagus irresistibly flatterers bickerton greensward imaginist night's tunbridge remembrances undesignedly minute's cowper pembroke exultingly disingenuousness unexamined blanche authorised humourist al sympathiser untainted unexceptionably cultivation morrow's abruptness st mark's venice discomposed swisserland penetrating crossness harmonise collation mickleham dorking mutterings shan't m confederates smallridge smallridge's bragges abdy's john's ostler's houseroom disagreeableness fancifulness windsor niece's arrowroot unaccountable otways placidity excusable secresy their's world's insignificance disengage privately misunderstood tremblings tautology unsuspected undiscerned latter's wretchedly engagement's inquietudes foolishly unpardonably hartfield's do's ungraciously groundless inferiorities w goodhumoured penetrated acquittal designedly unseasonableness 26th ult blameable particularity another's impartial disapprobation inconsideration unprovided desirableness unsuccessfully penetrate an't churchwardens william's collectedly d'almane comtesse d'ostalis genlis adelaide theodore endeavours k n unmentioned complimenter familiarise astley's james's heartfelt infant's entertainingly xix unbleached fortnight's housebreaking

In [18]:
import random
def random_word(h):
    t = []
    for word, freq in h.items():
        t.extend([word] * freq)
return random.choice(t)

(2, 'summons')

In [19]:
def shift(prefix, word):
    return prefix[1:] + (word,)

In [20]:
fout = open('output.txt', 'w')

In [21]:
fout = open('output.txt', 'w')

In [22]:
line1 = "This here's the wattle,\n"
fout.write(line1)

24

In [23]:
line2 = "the emblem of our land.\n"
fout.write(line2)

24

In [24]:
>>> fout.close()

In [25]:
fout = open('output.txt', 'w')
x = 52
fout.write(str(x))

2

In [26]:
fout = open('output.txt', 'w')
camels = 42
'%d' % camels

'42'

In [27]:
>>> 'I have spotted %d camels.' % camels

'I have spotted 42 camels.'

In [28]:
>>> 'In %d years I have spotted %g %s.' % (3, 0.1, 'camels')

'In 3 years I have spotted 0.1 camels.'

In [29]:
>>> '%d %d %d' % (1, 2)

TypeError: not enough arguments for format string

In [30]:
>>> '%d' % 'dollars'

TypeError: %d format: a number is required, not str

In [31]:
import os
cwd = os.getcwd()
cwd

'C:\\Users\\deshi\\Desktop\\5731'

In [32]:
fin = open('bad_file')

FileNotFoundError: [Errno 2] No such file or directory: 'bad_file'

In [33]:
fout = open('/etc/passwd', 'w')

FileNotFoundError: [Errno 2] No such file or directory: '/etc/passwd'

In [34]:
>>> fin = open('/home')

FileNotFoundError: [Errno 2] No such file or directory: '/home'

In [35]:
try:
    fin = open('bad_file')
except:
    print('Something went wrong.')

Something went wrong.

In [36]:
>>> import dbm
>>> db = dbm.open('captions', 'c')

In [37]:
>>> db['cleese.png'] = 'Photo of John Cleese.'

In [38]:
>>> db['cleese.png']

b'Photo of John Cleese.'

In [40]:
for key in db:
    print(key, db[key])

b'cleese.png' b'Photo of John Cleese.'

In [41]:
db.close()

In [42]:
>>> import pickle
>>> t = [1, 2, 3]
>>> pickle.dumps(t)

b'\x80\x03]q\x00(K\x01K\x02K\x03e.'

In [44]:
>>> t1 = [3, 2, 5]
>>> s = pickle.dumps(t1)
>>> t2 = pickle.loads(s)
>>> t2

[3, 2, 5]

In [45]:
>>> t1 == t2

True

In [46]:
>>> t1 is t2

False

In [47]:
cmd = 'ls -l'
fp = os.popen(cmd)

In [48]:
>>> res = fp.read()

In [50]:
>>> stat = fp.close()
>>> print(stat)

1

In [51]:
>>> filename = 'book.tex'
>>> cmd = 'md5sum ' + filename
>>> fp = os.popen(cmd)
>>> res = fp.read()
>>> stat = fp.close()
>>> print(res)

In [52]:
>>> print(stat)

1

In [62]:
>>> s = '1 2\t 3\n 4'
>>> print(s)

1 2	 3
 4

In [63]:
>>> print(repr(s))

'1 2\t 3\n 4'

In [70]:
>>> blank = Point()
>>> blank

In [71]:
>>> blank.x = 3.0
>>> blank.y = 4.0

In [72]:
>>> blank.y

4.0

In [73]:
>>> x = blank.x
>>> x

3.0

In [74]:
>>> '(%g, %g)' % (blank.x, blank.y)

'(3, 4)'

In [76]:
import math
>>> distance = math.sqrt(blank.x**2 + blank.y**2)
>>> distance

5.0

In [78]:
def print_point(p):
    print('(%g, %g)' % (p.x, p.y))
    
print_point(blank)

(3, 4)

In [79]:
class Rectangle:
    """Represents a rectangle.
    attributes: width, height, corner.
    """
Rectangle

__main__.Rectangle

In [80]:
box = Rectangle()
box.width = 100.0
box.height = 200.0
box.corner = Point()
box.corner.x = 0.0
box.corner.y = 0.0

In [81]:
def find_center(rect):
    p = Point()
    p.x = rect.corner.x + rect.width/2
    p.y = rect.corner.y + rect.height/2
    return p
center = find_center(box)
print_point(center)

(50, 100)

In [82]:
box.width = box.width + 50
box.height = box.height + 100

In [83]:
def grow_rectangle(rect, dwidth, dheight):
    rect.width += dwidth
    rect.height += dheight
box.width, box.height

(150.0, 300.0)

In [84]:
grow_rectangle(box, 50, 100)
box.width, box.height

(200.0, 400.0)

In [86]:
import copy
p1 = Point()
p1.x = 4.0
p1.y = 5.0 
p2 = copy.copy(p1)
print_point(p1)
print_point(p2)
p1 is p2

(4, 5)
(4, 5)

False

In [87]:
>>> p1 = Point()
>>> p1.x = 3.0
>>> p1.y = 4.0

In [88]:
>>> import copy
>>> p2 = copy.copy(p1)

In [89]:
>>> print_point(p1)

(3, 4)

In [90]:
>>> print_point(p2)

(3, 4)

In [91]:
>>> p1 is p2

False

In [92]:
>>> p1 == p2

False

In [93]:
>>> box2 = copy.copy(box)
>>> box2 is box

False

In [94]:
>>> box2.corner is box.corner

True

In [95]:
>>> box3 = copy.deepcopy(box)
>>> box3 is box

False

In [96]:
>>> box3.corner is box.corner

False

In [97]:
>>> p = Point()
>>> p.x = 3
>>> p.y = 4
>>> p.z

AttributeError: 'Point' object has no attribute 'z'

In [98]:
>>> type(p)

__main__.Point

In [99]:
>>> isinstance(p, Point)

True

In [100]:
from __future__ import print_function, division
class Time:
    """Represents the time of day.
    attributes: hour, minute, second
    """
Time
time = Time()
time.hour = 11
time.minute = 59
time.second = 30

In [108]:
def print_time(t):
    """Prints a string representation of the time.

    t: Time object
    """
    print('%.2d:%.2d:%.2d' % (t.hour, t.minute, t.second))

In [111]:
def add_time(t1, t2):
    sum = Time()
    sum.hour = t1.hour + t2.hour
    sum.minute = t1.minute + t2.minute
    sum.second = t1.second + t2.second
return sum

In [112]:
def add_time(t1, t2):
    sum = Time()
    sum.hour = t1.hour + t2.hour
    sum.minute = t1.minute + t2.minute
    sum.second = t1.second + t2.second
    return sum

In [113]:
start = Time()
start.hour = 9
start.minute = 45
start.second = 0
duration = Time()
duration.hour = 1
duration.minute = 35
duration.second = 0
done = add_time(start, duration)
print_time(done)

10:80:00

In [116]:
def add_time(t1, t2):
    sum = Time()
    sum.hour = t1.hour + t2.hour
    sum.minute = t1.minute + t2.minute
    sum.second = t1.second + t2.second
    if sum.second >= 60:
        sum.second -= 60
        sum.minute += 1
    if sum.minute >= 60:
        sum.minute -= 60
        sum.hour += 1
    return sum

In [121]:
def int_to_time(seconds):
    time = Time()
    minutes, time.second = divmod(seconds, 60)
    time.hour, time.minute = divmod(minutes, 60)
    return time
int_to_time(420)

In [124]:
class Time:
    """Represents the time of day."""
def print_time(time):
    print('%.2d:%.2d:%.2d' % (time.hour, time.minute, time.second))
start = Time()
start.hour = 10
start.minute = 25
start.second = 20
print_time(start)
def increment(self, seconds):
    seconds += self.time_to_int()
    return int_to_time(seconds)

10:25:20

In [126]:
class Time:
    def print_time(self):
        print('%.2d:%.2d:%.2d' % (self.hour, self.minute, self.second))
    def __init__(self, hour=0, minute=0, second=0):
        self.hour = hour
        self.minute = minute
        self.second = second
time = Time()
time.print_time()

00:00:00

In [129]:
time = Time(7)
time.print_time()

07:00:00

In [128]:
time = Time(7,20)
time.print_time()

07:20:00

In [130]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] = d[c]+1
    return d
t = ['suma', 'reddy', 'suma', 'reddy', 'deshi', 'suma']
histogram(t)

{'suma': 3, 'reddy': 2, 'deshi': 1}

In [131]:
class Card:
    """Represents a standard playing card."""
    def __init__(self, suit=0, rank=2):
        self.suit = suit
        self.rank = rank
    
    suit_names = ['Clubs', 'Diamonds', 'Hearts', 'Spades']
    rank_names = [None, 'Ace', '2', '3', '4', '5', '6', '7',
    '8', '9', '10', 'Jack', 'Queen', 'King']
    def __str__(self):
        return '%s of %s' % (Card.rank_names[self.rank],
                                Card.suit_names[self.suit])
card1 = Card(2, 11)
print(card1)

Jack of Hearts

In [132]:
def exp(base, power):
    return base ** power
exp(5,3)

125

In [133]:
def two_to_the(power):
    return exp(2, power)
two_to_the(4)

16

In [134]:
from functools import partial
def double(x):
    return 3 * x
xs = [1, 2, 3,4]
twice_xs = [double(x) for x in xs] 
print(twice_xs)
twice_xs = map(double, xs)
print(twice_xs)
list_doubler = partial(map, double)
print(list_doubler)
twice_xs = list_doubler(xs)
print(twice_xs)

[3, 6, 9, 12]
<map object at 0x000002387A83A0B8>
functools.partial(<class 'map'>, <function double at 0x000002387A7BFD08>)
<map object at 0x000002387A83A5F8>

In [135]:
def multiply(x, y): return x * y
products = map(multiply, [1, 2], [3, 4])
products

In [136]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
t= zip(list1, list2)
t

In [137]:
def is_even(x):
    """True if x is even, False if x is odd"""
    return x % 2 == 0
x_evens = [x for x in xs if is_even(x)]
print(x_evens)
x_evens1 = filter(is_even, xs)
print(x_evens1)

[2, 4]
<filter object at 0x000002387A83A320>

In [139]:
def add(a, b): return a + b
add(7, 2)

9

In [140]:
add(*[1, 2])

3

In [141]:
def doubler(f):
    def g(x):
        return 2 * f(x)
    return g

In [142]:
def f1(x):
    return x + 1
g = doubler(f1)
print (g(3))
print(g(-1))

8
0

In [144]:
def magic(*args, **kwargs):
    print ("unnamed args:", args)
    print ("keyword args:", kwargs)
magic(5, 6, key="word", key2="word2")

unnamed args: (5, 6)
keyword args: {'key': 'word', 'key2': 'word2'}

In [145]:
def other_way_magic(x, y, z):
    return x + y + z
x_y_list = [1, 2]
z_dict = { "z" : 3 }
print (other_way_magic(*x_y_list, **z_dict))

6