In [1]:
>>> fruit = 'banana'
>>> letter = fruit[1]
>>> letter

'a'

In [2]:
>>> animal = 'monkey'
>>> letter = animal[2]
>>> letter

'n'

In [3]:
>>> i=1
>>> letter = animal[i]
>>> letter

'o'

In [4]:
>>> i=1
>>> letter = animal[i+1]
>>> letter

'n'

In [5]:
>>> letter = animal[1.5]

TypeError: string indices must be integers

In [6]:
>>> fruit = 'banana'
>>> len(fruit)

6

In [8]:
>>> animal = 'monkeys'
>>> len(animal)

7

In [9]:
>>> length = len(fruit)
>>> last = fruit[length]

IndexError: string index out of range

In [10]:
>>> last = animal[length-1]
>>> last

'y'

In [12]:
index = 0
while index < len(fruit):
    letter = fruit[index]
    print(letter)
    index = index + 1

b
a
n
a
n
a

In [15]:
index = 0
while index < len(animal):
    letter = animal[index]
    print(letter)
    index = index + 1

m
o
n
k
e
y
s

In [17]:
for letter in animal:
    print(letter)

m
o
n
k
e
y
s

In [18]:
prefixes = 'JKLMNOPQ'
suffix = 'ack'
for letter in prefixes:
    print(letter + suffix)

Jack
Kack
Lack
Mack
Nack
Oack
Pack
Qack

In [19]:
prefixes = 'abcde'
suffix = 'ir'
for letter in prefixes:
    print(letter + suffix)

air
bir
cir
dir
eir

In [20]:
>>> s = 'suma reddy'
>>> s[0:4]

'suma'

In [21]:
>>> s = 'suma reddy'
>>> s[5:10]

'reddy'

In [22]:
>>> animal = 'monkeys'
>>> animal[:3]

'mon'

In [23]:
>>> animal[3:]

'keys'

In [24]:
>>> animal = 'monkeys'
>>> animal[3:3]

''

In [25]:
>>> greeting = 'Welcome, everyone!'
>>> greeting[0] = 'J'

TypeError: 'str' object does not support item assignment

In [26]:
>>> greeting = 'Welcome, everyone!'
>>> new_greeting = 'J' + greeting[1:]
>>> new_greeting

'Jelcome, everyone!'

In [38]:
def find(word, letter):
    index = 0
    while index < len(word):
        if word[index] == letter:
            return index
        index = index + 1
    return -1
find('sumareddy','u')

1

In [40]:
word = 'apple'
count = 0
for letter in word:
    if letter == 'p':
        count = count + 1
print(count)

2

In [41]:
>>> word = 'apple'
>>> new_word = word.upper()
>>> new_word

'APPLE'

In [42]:
>>> word = 'apple'
>>> index = word.find('a')
>>> index

0

In [43]:
>>> word.find('le')

3

In [50]:
def in_both(word1, word2):
    for letter in word1:
        if letter in word2:
            print(letter)
in_both('suma','suin')

s
u

In [53]:
word='banana'
if word == 'banana':
      print('All right, bananas.')

All right, bananas.

In [54]:
if word < 'banana':
    print('Your word, ' + word + ', comes before banana.')
elif word > 'banana':
     print('Your word, ' + word + ', comes after banana.')
else:
     print('All right, bananas.')

All right, bananas.

In [64]:
def is_reverse(word1, word2):
    if len(word1) != len(word2):
        return False
    i = 0
    j = len(word2)
    while j > 0:
        if word1[i] != word2[j]:
            return False
    i = i+1
    j = j-1
    return True

is_reverse('suma','sumas')

False

In [65]:
def has_no_e(word):
    for letter in word:
        if letter == 'e':
            return False
    return True
has_no_e('reddy')

False

In [67]:
def avoids(word, forbidden):
    for letter in word:
        if letter in forbidden:
            return False
    return True
avoids('reddy','forbidden')

False

In [68]:
def uses_only(word, available):
    for letter in word:
        if letter not in available:
            return False
    return True
uses_only('umm','available')

False

In [69]:
def is_abecedarian(word):
    previous = word[0]
    for c in word:
        if c < previous:
            return False
        previous = c
    return True
is_abecedarian('abcde')

True

In [1]:
def is_palindrome(word):
    i = 0
    j = len(word)-1
    while i<j:
        if word[i] != word[j]:
            return False
    i = i+1
    j = j-1
    return True
is_palindrome('suma')

False

In [3]:
>>> cheeses = ['suma', 'reddy']
>>> number = [81]
>>> empty = []
>>> print(cheeses, number, empty)

['suma', 'reddy'] [81] []

In [4]:
>>> numbers = [80, 160]
>>> numbers[1] = 20
>>> numbers

[80, 20]

In [5]:
>>> a = [4, 5, 6]
>>> b = [7, 8, 9]
>>> c = a + b
>>> c

[4, 5, 6, 7, 8, 9]

In [6]:
>>> [1, 2] * 2

[1, 2, 1, 2]

In [7]:
>>> t = ['a', 'b', 'c', 'd', 'e', 'f']
>>> t[:3]

['a', 'b', 'c']

In [8]:
>>> t = ['a', 'b', 'c', 'd', 'e', 'f']
>>> t[3:]

['d', 'e', 'f']

In [9]:
>>> t[:]

['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
>>> t = ['a', 'b', 'c', 'd', 'e', 'f']
>>> t[2:4] = ['x', 'y']
>>> t

['a', 'b', 'x', 'y', 'e', 'f']

In [11]:
>>> t = ['a', 'b', 'c','d']
>>> t.append('e')
>>> t

['a', 'b', 'c', 'd', 'e']

In [12]:
>>> t1 = ['a', 'b', 'c']
>>> t2 = ['d', 'e']
>>> t1.extend(t2)
>>> t1

['a', 'b', 'c', 'd', 'e']

In [13]:
>>> t = ['d', 'c', 'e', 'b', 'a']
>>> t.sort()
>>> t

['a', 'b', 'c', 'd', 'e']

In [14]:
def add_all(t):
    total = 0
    for x in t:
        total += x
    return total
add_all([3,4,5,6])

18

In [15]:
>>> t = [1, 2]
>>> sum(t)

3

In [16]:
def capitalize_all(t):
    res = []
    for s in t:
        res.append(s.capitalize())
    return res
capitalize_all('suma')

['S', 'U', 'M', 'A']

In [17]:
def only_upper(t):
    res = []
    for s in t:
        if s.isupper():
            res.append(s)
    return res
only_upper('bhIabHG')

['I', 'H', 'G']

In [18]:
>>> t = ['a', 'b', 'c']
>>> x = t.pop(2)
>>> t

['a', 'b']

In [19]:
>>> t = ['a', 'b', 'c']
>>> t.remove('c')
>>> t

['a', 'b']

In [20]:
>>> s = 'spam'
>>> t = list(s)
>>> t

['s', 'p', 'a', 'm']

In [21]:
>>> s = 'spam-spam-spam'
>>> delimiter = '-'
>>> t = s.split(delimiter)
>>> t

['spam', 'spam', 'spam']

In [22]:
>>> a = 'banana'
>>> b = 'banana'
>>> a is b

True

In [27]:
>>> t1 = [1, 2]
>>> t2 = t1.append(3)
>>> t1

[1, 2, 3]

In [32]:
def histogram(s):
    d = dict()
    for c in s:
        if c not in d:
            d[c] = 1
        else:
            d[c] += 1
    return d
histogram('sumaa')

{'s': 1, 'u': 1, 'm': 1, 'a': 2}

In [35]:
def print_hist(h):
    for c in h:
        print(c, h[c])
h = histogram('sumaa')
print_hist(h)

s 1
u 1
m 1
a 2

In [39]:
def reverse_lookup(d, v):
    for k in d:
        if d[k] == v:
            return k
    raise LookupError()
h = histogram('parrot')
key = reverse_lookup(h, 2)
key

'r'

In [41]:
def invert_dict(d):
    inverse = dict()
    for key in d:
        val = d[key]
        if val not in inverse:
            inverse[val] = [key]
        else:
            inverse[val].append(key)
    return inverse
hist = histogram('parrot')
invert_dict(hist)

{1: ['p', 'a', 'o', 't'], 2: ['r']}

In [51]:
known={0:0, 1:1}
def fibonacci(n):
    if n in known:
        return known[n]
    res = fibonacci(n-1) + fibonacci(n-2)
    known[n] = res
    return res

fibonacci(6)

8

In [52]:
>>> t = ('a', 'b', 'c', 'd', 'e')
>>> t1 = 'a',
>>> type(t1)

tuple

In [53]:
>>> t2 = ('a')
>>> type(t2)

str

In [54]:
>>> t = tuple()
>>> t

()

In [56]:
>>> t = tuple('lupins')
>>> t

('l', 'u', 'p', 'i', 'n', 's')

In [57]:
>>> t = ('a', 'b', 'c', 'd', 'e')
>>> t[0]

'a'

In [58]:
>>> s = 'abc'
>>> t = [0, 1, 2]
>>> zip(s, t)

In [60]:
def has_match(t1, t2):
    for x, y in zip(t1, t2):
        if x == y:
            return True
    return False
has_match('suma','suma')

True

In [61]:
from collections import Counter
c = Counter([5,6,7])
c

Counter({5: 1, 6: 1, 7: 1})

In [63]:
s = set()
s.add(1)
s.add(2) 
s.add(2) 
 
y = 2 
y in s

True

In [65]:
stopwords_list = ["a","an","at"] + ["yet", "you"]
"you" in stopwords_list

True

In [67]:
item_list = [1, 2, 3, 1, 2, 3]
num_items = len(item_list) 
item_set = set(item_list) 
(item_set)

{1, 2, 3}

In [69]:
x=12
parity = "even" if x % 2 == 0 else "odd"
parity

'even'

In [72]:
x = 0
while x < 10:
    print (x, "is less than 10")
    x += 1

0 is less than 10
1 is less than 10
2 is less than 10
3 is less than 10
4 is less than 10
5 is less than 10
6 is less than 10
7 is less than 10
8 is less than 10
9 is less than 10

In [74]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print (x)

0
1
2
4

In [77]:
x = [4,1,2,3]
y = sorted(x)
y

[1, 2, 3, 4]

In [78]:
x = sorted([-4,1,-2,3], key=abs, reverse=True)
x

[-4, 3, -2, 1]

In [79]:
even_numbers = [x for x in range(5) if x % 2 == 0]
squares = [x * x for x in range(5)]
even_squares = [x * x for x in even_numbers]
print(even_numbers)
print(squares)
print(even_squares)

[0, 2, 4]
[0, 1, 4, 9, 16]
[0, 4, 16]

In [80]:
square_dict = { x : x * x for x in range(5) }
square_set = { x * x for x in [1, -1] }
print(square_dict)
print(square_set)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
{1}

In [82]:
pairs = [(x, y)
        for x in range(10)
        for y in range(10)]
pairs

[(0, 0),
 (0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 0),
 (1, 1),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 0),
 (2, 1),
 (2, 2),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 0),
 (3, 1),
 (3, 2),
 (3, 3),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 0),
 (4, 1),
 (4, 2),
 (4, 3),
 (4, 4),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 0),
 (5, 1),
 (5, 2),
 (5, 3),
 (5, 4),
 (5, 5),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 0),
 (6, 1),
 (6, 2),
 (6, 3),
 (6, 4),
 (6, 5),
 (6, 6),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 0),
 (7, 1),
 (7, 2),
 (7, 3),
 (7, 4),
 (7, 5),
 (7, 6),
 (7, 7),
 (7, 8),
 (7, 9),
 (8, 0),
 (8, 1),
 (8, 2),
 (8, 3),
 (8, 4),
 (8, 5),
 (8, 6),
 (8, 7),
 (8, 8),
 (8, 9),
 (9, 0),
 (9, 1),
 (9, 2),
 (9, 3),
 (9, 4),
 (9, 5),
 (9, 6),
 (9, 7),
 (9, 8),
 (9, 9)]

In [83]:
increasing_pairs = [(x, y)
                   for x in range(10) 
                   for y in range(x + 1, 10)]
increasing_pairs

[(0, 1),
 (0, 2),
 (0, 3),
 (0, 4),
 (0, 5),
 (0, 6),
 (0, 7),
 (0, 8),
 (0, 9),
 (1, 2),
 (1, 3),
 (1, 4),
 (1, 5),
 (1, 6),
 (1, 7),
 (1, 8),
 (1, 9),
 (2, 3),
 (2, 4),
 (2, 5),
 (2, 6),
 (2, 7),
 (2, 8),
 (2, 9),
 (3, 4),
 (3, 5),
 (3, 6),
 (3, 7),
 (3, 8),
 (3, 9),
 (4, 5),
 (4, 6),
 (4, 7),
 (4, 8),
 (4, 9),
 (5, 6),
 (5, 7),
 (5, 8),
 (5, 9),
 (6, 7),
 (6, 8),
 (6, 9),
 (7, 8),
 (7, 9),
 (8, 9)]

In [87]:
def lazy_range(n):
    i = 0
    while i < n:
        yield i
        i += 1
lazy_range(6)

In [90]:
def natural_numbers():
    n = 1
    while True:
        yield n
        n += 1
natural_numbers()

In [92]:
import random
four_uniform_randoms = [random.random() for _ in range(4)]
four_uniform_randoms

[0.139352154825931,
 0.6058885706141741,
 0.20040281344551236,
 0.4687327516618244]

In [94]:
random.seed(10) 
print(random.random()) 
random.seed(10) 
print(random.random())

0.5714025946899135
0.5714025946899135

In [97]:
lottery_numbers = range(60)
winning_numbers = random.sample(lottery_numbers, 6)
winning_numbers

[0, 13, 29, 52, 31, 56]